

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electronics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="~/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body >
   <div class="wrapper">
  
    <div class="sidebar" data-color="purple" data-background-color="white">
     
      <div class="logo">
        <a href="/Accountant/ReportAcc"  class="simple-text logo-mini" style="color: #6b6b6b; text-decoration: none;">
          E-lectronics
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul  class="nav">
           
           

         <li class="nav-item active  ">
            <a style="background-color: #6b6b6b" class="nav-link" href="/Homepage/Index">
              <i class="fas fa-home"></i>
              <p>Home Page</p>
            </a>
            </li>
        

           <li class="nav-item active  ">
            <a style="background-color: #6b6b6b" class="nav-link" href="/Accountant/ReportAcc">
              <i class="fas fa-file-pdf"></i>
              <p>Reports</p>
            </a>
          </li>
          
          <li class="nav-item active  ">
            <a style="background-color: #6b6b6b" class="nav-link" href="/ContactUs/ACCIndex">
              <i class="fas fa-file-pdf"></i>
              <p>Contact Us</p>
            </a>
           
          </li>

            <li class="nav-item active  ">
            <a style="background-color: #6b6b6b" class="nav-link" href="/LoginAndRegister/Login">
             <i class="fas fa-sign-out-alt"></i>
              <p>Logout</p>   
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
     <div class="main-panel">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bold">Accountant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <div>     
                        <img style="border-radius: 80% ; width:45px" src="~/aaa/taylar.jpg" class="img-radius" alt="User-Profile-Image">
                              <a style=" color: #6b6b6b; text-decoration: none;">
                                   noor@yahoo.com
                               </a>
                        </div>             
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
         </main>
      </div>
       
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
          @*  &copy; 2022 - E-lectronics - <a asp-area="" asp-controller="Home" asp-action="Admin"></a>*@
      </div>
    </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

